<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<% content_for :sidebar do %>
  <p>
    Dolor reiciendis magni rerum sit mollitia! Nihil a hic labore nesciunt illo? Omnis esse dignissimos incidunt deserunt dolore. Optio sequi veritatis recusandae est earum Obcaecati cum distinctio a odit est.
  </p>
  
<% end %>
