<img id="image-logo" src="<%= image_path 'logo_black_500.png' %>" alt="">
<h1>Animal Rights Network</h1>
<h2>A platform to unite the animal rights activism community and make it more accessible</h2>
<p>Comming soon...</p>
